NET "START_FPGA_D" LOC = P114;
NET "START_FPGA_M" LOC = P21;

NET "Start_FPGA_for_PLA_M" LOC =P8;
NET "Start_FPGA_for_PLA_D1" LOC =P79;
NET "Start_FPGA_for_PLA_D2" LOC =P83;
NET "Start_FPGA_for_PLA_D3" LOC =P90;
NET "Start_FPGA_for_PLA_D4" LOC =P93;

# PlanAhead Generated physical constraints 

NET "A_SF_CLK_COPY_D1" LOC = P112;
NET "A_SF_CLK_COPY_M" LOC = P18;

NET "CS_D" LOC = P111;
NET "CS_M" LOC = P7;
NET "DCLK" LOC = P55;
#NET "MCLK" LOC = P57;
NET "CLK" LOC = P58;

NET "MISO_D1" LOC = P130;
NET "MISO_D2" LOC = P132;
NET "MISO_D3" LOC = P134;//bbbb
NET "MISO_D4" LOC = P117; ///ch 4
#NET "MISO_M" LOC = P4;
NET "MISO_MB" LOC = P4;

NET "RESTART_CLK_D" LOC = P101;
NET "RESTART_CLK_M" LOC = P15;


#NET "RST_A_SF_COPY_M" LOC = P20;

NET "SCK_D" LOC = P99;
NET "SCK_M" LOC = P5;

NET "select0" LOC = P10; //selector from mbed  30
NET "select1" LOC = P12; //selector from mbed  29
NET "sel_d" LOC = P33; //start from mbed  20

NET "mbed_sel0" LOC = P30;
NET "mbed_sel1" LOC = P32;

NET "MOSI_D" LOC = P129;
NET "MOSI_M" LOC = P3;



NET "ext_tri" LOC = P35;
NET "atwd_tri1" LOC = P80;
NET "atwd_tri2" LOC = P84;
NET "atwd_tri3" LOC = P88;
NET "atwd_tri4" LOC = P92;

NET "reset_trigger1" LOC = P82;//ch 4/26
NET "reset_trigger2" LOC = P85;//ch 4/26
NET "reset_trigger3" LOC = P87;//ch 4/26
NET "reset_trigger4" LOC = P91;//ch 4/26


NET "start_at_once" LOC = P98;
#NET "stop" LOC = P20;
NET "newstop" LOC = P110;
NET "outtrigger" LOC = P20;
NET "in_heartbeat" LOC = P28;
NET "out_heartbeat" LOC = P6;

NET "enable_thermal_tri" LOC = P13;
NET "force_tri" LOC = P11;

NET "REFCLK" LOC = P113;
NET "test_out" LOC = P50;


NET "SCK_M" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "Start_FPGA_for_PLA_M" CLOCK_DEDICATED_ROUTE = FALSE; 

NET "in_heartbeat" CLOCK_DEDICATED_ROUTE = FALSE; 